@tailwind base;
@tailwind utilities;
@tailwind components;
/* @import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Audiowide&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Righteous&family=Stalinist+One&display=swap"); */

:root {
  --textColor-light: #303030;
  --textColor-dark: #dbdbdb;
  --background-light: #f5f5f5;
  --background-dark: #121212;
  --background-dark-card: #2f2f2f;
  --background-light-card: #ffffff;
}

/* Textfärger */
.text-custom {
  color: var(--textColor-light);
}

.dark .text-custom {
  color: var(--textColor-dark);
}

/* Bakgrundsfärg på kort */
.bg-card {
  background-color: var(--background-light-card);
}

.dark .bg-card {
  background-color: var(--background-dark-card);
}

/* Bakgrundsfärger */
.bg-custom {
  background-color: var(--background-light);
}

.dark .bg-custom {
  background-color: var(--background-dark);
}

body {
  color: var(--textColor-light);
  background: var(--background-light);
}

body.dark {
  color: var(--textColor-dark);
  background: var(--background-dark);
}
