@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #f0f0f0;
  --textColor: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b2028;
    --textColor: #ededed;
  }
} */

body {
  /* color: var(--textColor); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
