@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textColor-light: #303030;
  --textColor-dark: #6e6e6e;
  --background-light: #e8e8e8;
  --background-dark: #1b2028;
}

/* Textfärger */
.text-custom {
  color: var(--textColor-light);
}

.dark .text-custom {
  color: var(--textColor-dark);
}

/* Bakgrundsfärger */
.bg-custom {
  background-color: var(--background-light);
}

.dark .bg-custom {
  background-color: var(--background-dark);
}

body {
  color: var(--textColor-light);
  background: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
}

body.dark {
  color: var(--textColor-dark);
  background: var(--background-dark);
}
